*{
	color: white;
	visibility: visible;
}

a:first-child{
	color: red;
}

.header{
	background-color:green;
	text-align: center;
	padding:10px;
	font: 1.1em "Fira Sans", sans-serif;
}

.footer{
	background-color:green;
	text-align: center;
	padding:10px;
	font: 1.1em "Fira Sans", sans-serif;
}

.content{
	background-color:blue;
	max-width:450px;
	min-width:400px;
	padding:20px;
	margin-left: auto;
    margin-right: auto;
}

.content h1{
	font-size: xx-large;
}

body{
	font: 0.9em "Fira Sans", sans-serif;
}

#delText{
	text-decoration: line-through;
}

#listHeadBlock{
	overflow: auto;
	word-spacing: 1rem;
}

#styleBlock{
	width:300px;
}

#tableBlock{
	width:120px;
	min-height:100px;
	float: right;
}

#likeImage{
	text-align:right;
	padding-top:10px;
}

#link{
	text-align:center;
}

#squreBox{
	float: left;
	padding-bottom: 20px;
}

#square{
	box-sizing: content-box;
	width:90px;
	height:90px;
	border: 5px solid white;
	border-radius: 15% 0%; 
	margin-right:20px;
}

span.redText{
	color: red;
}

ul{
	list-style: outside;
}

li:nth-child(2){
	color: #33CCCC;
	letter-spacing: 7px;
}

ul > li{
	line-height: 1.9;
}

table{
	display:inline-table;
	border: solid 2px silver;
}

td{
    width: 30px; 
	height:20px; 
    border: solid 2px silver; 
    text-align:center;
	vertical-align: bottom;
}